.card{
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.d-block{
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

